<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556472423473-5gull4c3ib1ivp3ukmuckb9uvt9qudjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556472423473-5gull4c3ib1ivp3ukmuckb9uvt9qudjn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>556472423473-ichl0lnvo2e1su3k3k89cm6n7jrn719a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCl7S8lIMjpHf_IdwJQCGd4DnLludom0fM</string>
	<key>GCM_SENDER_ID</key>
	<string>556472423473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.technosaab.DavaiApp</string>
	<key>PROJECT_ID</key>
	<string>davai-e0f4b</string>
	<key>STORAGE_BUCKET</key>
	<string>davai-e0f4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556472423473:ios:8bf87c704d3bbb65</string>
	<key>DATABASE_URL</key>
	<string>https://davai-e0f4b.firebaseio.com</string>
</dict>
</plist>